  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Standards {% endblock %}


  {% block image_block %}
  <header class="info-header">
    <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-md-10 text-white">
          <!-- heading -->
          <h2 class="display-4 font-weight-bold  p-5 " style="color:#ff5722;" > Subjects </h2>
          <div class="row d-flex justify-content-center text-center">
            <ul class="breadcrumb">
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'curriculum:standard_list' %}">Curriculum</a></li>
              <li class="disabled-text" >{{standards.name}}</li>
            </ul>
          </div>

          <!-- divider -->
          <hr style="color:#ff5722;">

          <!-- description -->
          <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Deleniti
                    consequuntur.</h4>
    </div>
  </header>
  {% endblock %}

  {% block content %}
  <section id="best-features" class="text-center">
                <h2 class="mb-5 mt-5 font-weight-bold" style="color:#ff5722;">Master The Subject</h2>
                <!-- class row for description-->
                <div class="row d-flex justify-content-center mb-4">
                  <!-- class column -->
                  <div class="col-md-8 mb-5">
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                                      hic
                                      provident nulla repellat
                                      facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                                      est
                                      sit pariatur.</p>
                  </div>
                </div>
                <div class="col-md-12 justify-content-center mb-5">
                  <h4 class="card-title" style="color:#ff5722;">Time-Table</h4>
                  <table id="class-time-table">
                    <tr>
                      <th></th>
                      {% for slot in slots %}
                      <th scope="row">{{slot.start_time}}</th>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Monday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 1 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Tuesday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 2 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Wednesday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 3 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Thursday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 4 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                    <tr>
                      <th>Friday</th>
                      {%for slot in standards.standard_slots.all%}
                      {%if slot.day.id == 5 %}
                        <td>{{slot.slot_subject}}</td> 
                      {% endif %}
                      {% endfor %}
                    </tr>
                  </table>
                </div>
                <!-- class row2 for cards -->
                <div class="row d-flex justify-content-center mb-3">
                {% for subject in standards.subjects.all %}
                <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
                  <div class="row no-gutters">
                            <div class="col-md-4">
                              <img src="{{subject.image.url|default_if_none:'#'}}" class="card-img" alt="No image found" height="200px" width="200px">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h4 class="card-title" style="color:#ff5722;">{{subject.name}}</h4>
                                <p class="card-text">{{subject.description|truncatechars:75}}</p>
                                <p class="card-text"><small class="text-muted"></small></p>
                                    <a href="{% url 'curriculum:lesson_list' slug=subject.slug standard=standards.slug %}"><button class="button-les"> <span> Get Lessons</span></button></a>
                              </div>
                            </div>
                  </div>
                  </div>
                {% endfor %}
                </div>
  </section>
  {%endblock%}
